.hidden-sidebar {
    transform: translateX(-110%);
}

.sidebar {
    /* Enforce minimum width */
    transition: transform 0.3s ease;
    min-width: 8rem;
}

.hidden-button.hidden {
    display: none;
}