.notification {
    font-family: 'Montserrat', sans-serif;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
    padding: 15px;
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    font-size: 14px;

}