@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

// colors
$colors: (
    neutral:(50: #F3F4F5,
        100: #E8E8EA,
        200: #f7f7f7,
        300: #e4e4e4,
        400: #d3d3d3,

    ),
    primary:(400: #fe4647),
    transp:(200: #f3f3f3c2),

    ui: (delete: #af7070,
        cancel: #f0f0f0,
        validate: #70af87,
    ),
);


:root {

    // colors
    @each $color, $shadeMap in $colors {
        @each $shade, $value in $shadeMap {
            --color-#{$color}-#{$shade}: #{$value};
        }
    }

}